<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <title>StockTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "common/header" %>

  <div class="main">
    <%= yield %>
  </div>

<%= requirejs_include_tag "application" %>
<script>
  require.config({urlArgs: 'bust='+ Date.now()});
  require(['main']);
</script>
</body>
</html>
